/*****************
    Pablo Argallero - UO283216
    
    Contiene todo lo relativo a la estética de los elementos HTML
    las principales secciones de esta hoja de estilo son:
        -CONFIGURACIÓN DE ELEMENTOS GENERALES - body ,footer,header,section,...
        -CONFIGURACIÓN DE LOS ELEMENTOS h - h1,h2, ...
        -CONFIGURACION DEL ARTICLE QUE VA A CONTENER AL MAPA

******************/


/*------------------------------------------------------------------*/
/*---------------CONFIGURACIÓN DE ELEMENTOS GENERALES---------------*/
/*------------------------------------------------------------------*/

/*Aplicamos a body el estilo*/
body /*especifidad =  1*/
{
    color: black;
    background-color : white;
    font-family: Arial, Helvetica, sans-serif;

    margin: 1em 1.5em ; /*margen de 1em hacia arriba y abajo y de 1.5em para los lados*/
}

h1, footer /*especifidad =  2*/
{
    color: white;
    background-color: #000000;   
    border-radius: 1em;
    padding:  1em;
    text-align: center;
}

/*hacemos que el margen del footer crezca para que se vea separado*/
footer{ /*especificidad = 001*/
    margin-top: 1em;
}


section /*especifidad =  1*/
{
    /*hereda de body el color de letra negro*/
    background-color: rgb(193, 193, 193);
    
    border-radius: 0.2em;
}

p{ /*especificidad = 1*/
    /* hereda el color de la letra y fuente de body */

    /*añadimos el padding para separar los parrafos de los laterales de
    siendo la primera la distancia top&bottom y la segunda la distancia hacia los lados*/
    padding: 0.1em 1em;
}

h2 /*especifidad =  1*/
{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: #2b2b2b;
    color: white;

    padding: 0.5em;
    border-radius: 0.2em;
}

h3{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: #595959;
    color: white;

    padding: 0.5em;
    border-radius: 0.2em;
}

textarea{ /*desactivacion del resize de las textareas*/
    resize: none;
}



/*coloremos los errores de rojo*/
main section:first-of-type section form ~ p {
    color: red;
}

/*separamos las seccinoes del main*/
main{
    display: flex;
    flex-direction: column;
    row-gap: 2em;
}


/*Configuracion de la seccion de panel de control*/
main > section:nth-of-type(1){
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
        "h h"
        "p p"
        "u g"
        "s f";
    align-items: center;
    place-items: stretch;
    row-gap: 1em;
    column-gap: 1em;
}
section:first-of-type h2{
    grid-area: h;
}
section:first-of-type p{
    grid-area: p;
}
section:first-of-type > section{
    background-color: rgb(181, 181, 181);
    border-style: ridge;
    border-color: black;
}
section:first-of-type > section:nth-of-type(1){ /*seccion encargada de creacion de usuarios*/
    grid-area: u;
}
section:first-of-type > section:nth-of-type(2){ /*seccion encargada de creacion de grupos*/
    grid-area: g;
}
section:first-of-type > section:nth-of-type(3){ /*seccion encargada de informacion del sistema*/
    grid-area: s;
    /*lo hacemos un poco más alto para que contenga el textarea correctamente*/
    height: 20em;
}
section:first-of-type > section:nth-of-type(4){ /*seccion encargada de insercion de datos por archivo*/
    grid-area: f;
}

/*configuracion del textarea del informe de sistema*/
section:first-of-type > section:nth-of-type(3) > textarea{
 width: 90%;
 height: 50%;
}


/*Organizacion de las secciones con los usuarios y los grupos*/
main > section:nth-of-type(2) , main > section:nth-of-type(3){
    display: grid;
    grid-template-columns: [primera]repeat(5,1fr)[ultima];
    column-gap: 1em;
}

/*titulo que ocupe todas las columnas*/
main > section:nth-of-type(2) > h2, main > section:nth-of-type(3) >h2{
    grid-column: primera / ultima;
}



main > section:nth-of-type(2) > section, main > section:nth-of-type(3) >section{
    border-style: ridge;
    border-color: black;
}
main > section:nth-of-type(2) > section > textarea{
    width: 95%;
}

main > section:nth-of-type(2) > section > input[type="button"], main > section:nth-of-type(3) >section > input[type="button"]{
    background-color: rgb(77, 0, 0);
    color: white;
}








