/*****************
    Pablo Argallero - UO283216
    
    Contiene todo lo relativo a la estética de los elementos HTML
    las principales secciones de esta hoja de estilo son:
        -CONFIGURACIÓN DE ELEMENTOS GENERALES - body ,footer,header,section,...
        -CONFIGURACIÓN DE LOS ELEMENTOS h - h1,h2, ...
        -CONFIGURACIÓN DE LOS ENLACES - a
        -CONFIGURACIÓN DE ELEMENTOS MULTIMEDIA - img, video, audio

******************/


/*------------------------------------------------------------------*/
/*---------------CONFIGURACIÓN DE ELEMENTOS GENERALES---------------*/
/*------------------------------------------------------------------*/

/*Aplicamos a body el estilo*/
body /*especifidad =  1*/
{
    color: black;
    background-color: rgb(255, 255, 255);
    font-family: Arial, Helvetica, sans-serif;

    margin: 1em 1.5em ; /*margen de 1em hacia arriba y abajo y de 1.5em para los lados*/
}

h1, footer /*especifidad =  2*/
{
    color: white;
    background-color: #000000;   
    border-radius: 1em;
    padding: 1.5em;
    
    text-align: center;
}

/*hacemos que el margen del footer crezca para que se vea separado*/
footer{ /*especificidad = 001*/
    margin-top: 1em;
}


section /*especifidad =  1*/
{
    /*hereda de body el color de letra negro*/
    background-color: rgb(209, 209, 209);
    
    border-radius: 0.2em;
}

p{ /*especificidad = 1*/
    /* hereda el color de la letra y fuente de body */

    /*añadimos el padding para separar los parrafos de los laterales de
    siendo la primera la distancia top&bottom y la segunda la distancia hacia los lados*/
    padding: 0.2em 1em;
}


/*--------------------------------------------------------------*/
/*---------------CONFIGURACIÓN DE LOS ELEMENTOS h---------------*/
/*--------------------------------------------------------------*/

h1{ /*especificidad = 001*/
    /*hereda la mayoría de sus atributos del selector de arriba*/
    border: outset;
    border-color: #474646;
    border-width: thick;
}

h2 /*especifidad =  1*/
{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: #2e2e2e;
    color: white;

    padding: 0.5em;
    border-radius: 0.2em;
}
h3{ /*especifidad =  1*/
    background-color: #5f5f5f;
    color: white;

    padding: 0.2em;
    border-radius: 0.2em;

    text-align: center;

}

/*----------------------------------------------------------*/
/*---------------CONFIGURACIÓN DE LOS ENLACES---------------*/
/*----------------------------------------------------------*/


/*Los enlaces del documento tendrán un color rojizo*/
a { /*especificidad = 001*/
    /*hereda el fondo de su contenedor*/
    color: #290a08;
}

a:visited{ /*especificidad 011*/
    /*hereda el fondo de su contenedor*/
    color: #691A16;
}

/*-----------------------------------------------------------------------*/
/*---------------CONFIGURACIÓN DE LOS ELEMENTOS MULTIMEDIA---------------*/
/*-----------------------------------------------------------------------*/

/*con*/
main img{/*especidad = 002*/
    width: 50%;
    height: auto;
}
video {/*especidad = 001*/
    width: 90%;
    height: auto;
    border-radius: 1em;
}



