/*****************
    Pablo Argallero - UO283216
    
    Contiene todo lo relativo a la estética de los elementos HTML
    las principales secciones de esta hoja de estilo son:
        -CONFIGURACIÓN DE ELEMENTOS GENERALES - body ,footer,header,section,...
        -CONFIGURACIÓN DE LOS ELEMENTOS h - h1,h2, ...
        -CONFIGURACIÓN DE LOS ENLACES - a
        -CONFIGURACIÓN DE LISTAS Y LISTAS ANIDADAS - ul li
        -CONFIGURACIÓN DE TABLAS - table th tr
        -CONFIGURACIÓN DE FORMULARIOS - form
        -CONFIGURACIÓN DE ELEMENTOS MULTIMEDIA - img, video, audio

******************/


/*------------------------------------------------------------------*/
/*---------------CONFIGURACIÓN DE ELEMENTOS GENERALES---------------*/
/*------------------------------------------------------------------*/

/*Aplicamos a body el estilo*/
body /*especifidad =  1*/
{
    color: black;
    background-color: rgb(255, 255, 255);
    font-family: Arial, Helvetica, sans-serif;

    margin: 1em 1.5em ; /*margen de 1em hacia arriba y abajo y de 1.5em para los lados*/
}

h1, footer /*especifidad =  2*/
{
    color: white;
    background-color: #bc0013;   
    border-radius: 1em;
    
    text-align: center;
}

/*hacemos que el margen del footer crezca para que se vea separado*/
footer{ /*especificidad = 001*/
    margin-top: 1em;
}


section /*especifidad =  1*/
{
    /*hereda de body el color de letra negro*/
    background-color: rgb(209, 209, 209);
    
    border-radius: 0.2em;
}

p{ /*especificidad = 1*/
    /* hereda el color de la letra y fuente de body */

    /*añadimos el padding para separar los parrafos de los laterales de
    siendo la primera la distancia top&bottom y la segunda la distancia hacia los lados*/
    padding: 0.2em 1em;
}

nav /*especifidad =  1*/
{
    /*hereda de body el color de letra negro*/
    background-color: rgb(255, 184, 184); 
    
    padding: 0.5em;
    margin-bottom: 0.5em; /*separamos el nav del contenido de la página*/
    text-align: center; 

    border-radius: 0.2em;
}

/*--------------------------------------------------------------*/
/*---------------CONFIGURACIÓN DE LOS ELEMENTOS h---------------*/
/*--------------------------------------------------------------*/

h1{ /*especificidad = 001*/
    /*hereda la mayoría de sus atributos del selector de arriba*/
    padding: 1em;
    border: outset;
    border-color: #c50417;
    border-width: thick;
}

h2 /*especifidad =  1*/
{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: #e2939b;

    padding: 0.5em;
    border-radius: 0.2em;
}
h3{ /*especifidad =  1*/
    background-color: #ffcbd1;

    padding: 0.2em;
    border-radius: 0.2em;

    text-align: center;

}

/*----------------------------------------------------------*/
/*---------------CONFIGURACIÓN DE LOS ENLACES---------------*/
/*----------------------------------------------------------*/

/*Queremos que los elementos a del nav, es decir los elementos de navegación 
séan de color negro*/
nav a{ /*especificidada = 002*/
    /*hereda el fondo de su contenedor nav*/
    color: black;
}

/*Los enlaces del documento tendrán un color rojizo*/
a { /*especificidad = 001*/
    /*hereda el fondo de su contenedor*/
    color: #48120F;
}

a:visited{ /*especificidad 011*/
    /*hereda el fondo de su contenedor*/
    color: #691A16;
}

/*-----------------------------------------------------------------------*/
/*---------------CONFIGURACIÓN DE LISTAS Y LISTAS ANIDADAS---------------*/
/*-----------------------------------------------------------------------*/

/*Desactivamos los elementos bullet de las listas y de la listas anidadas*/
ul, ul ul { /*especidad = 002*/
    list-style: none;
}
/*los elementos de la lista tendran un bullet rojo*/
ul li::before { /*especidad = 003*/
    /*hereda el fondo de su contenedor*/
    content: "\2022";
    color: red;
    font-weight: bold;
    display: inline-block; 
    width: 1em;
    margin-left: -1em;
}
/*los elementos de la lista anidada tendran un bullet mas claro*/
ul ul li::before{ /*especidad = 004*/
    /*hereda el fondo de su contenedor*/
    content: "\2022";
    color: rgb(219, 91, 91);
    font-weight: bold;
    display: inline-block; 
    width: 1em;
    margin-left: -1em;
}

/*---------------------------------------------------------*/
/*---------------CONFIGURACIÓN DE LAS TABLAS---------------*/
/*---------------------------------------------------------*/

table /*especificidad = 1*/
{
    /*color de letra heredado de body*/
    background-color: #e2939b;
    margin: 1em; /*hacemos que la tabla se separe de los laterales*/
}

table caption /*especificidad = 2*/
{
    /*hereda el fondo de su contenedor*/
    color: white;
    font-size: 1.2em;
    background-color: #b8252f;

}

table th/*especificidad = 2*/
{
    color: white;
    background-color: #aa3c47;
    padding: 0.2em;
}

table td/*especificidad = 2*/
{
    padding: 0.2em;
}

/*--------------------------------------------------------------*/
/*---------------CONFIGURACIÓN DE LOS FORMULARIOS---------------*/
/*--------------------------------------------------------------*/

/*separamos el formulario de los bordes añadiendole un margin*/
form{ /*especidad = 001*/
    margin: 1em;
}
/*Hace que los titulos dentro del formulario de las secciones salgan en rojo*/
form fieldset legend /*especidad = 3*/
{
    color: rgb(150, 29, 29);
}

/*configuramos la estética del boton dentro del formulario*/
form button{/*especidad = 002*/
    background-color: #bc0013;
    color: white;
    
}
/*colocamos un borde a los elementos input del formulario*/
form input{/*especidad = 002*/
    border-style: outset;
    border-width: medium;
    border-color: #aa3c47;
}

/*-----------------------------------------------------------------------*/
/*---------------CONFIGURACIÓN DE LOS ELEMENTOS MULTIMEDIA---------------*/
/*-----------------------------------------------------------------------*/

/*con*/
main img{/*especidad = 002*/
    width: 50%;
    height: auto;
}
video {/*especidad = 001*/
    width: 90%;
    height: auto;
    border-radius: 1em;
}



