/*****************
    Pablo Argallero - UO283216
    
    //TODO Descipción de los layouts que contiene
******************/

nav{
    display: flex;
    justify-content: center;
    gap: 1em 3em;
}


main{
    display: flex;
    flex-flow: row wrap;/*indicamos la posibilidad de que los elementos ocupen mas de una linea organizandose el filas*/
    justify-content: space-evenly;/*dejamos espacio entre los elementos*/
    align-items: flex-start; /*hacemos que si el elemento contenedor acaba el bloque acabe, no que se estire*/
    align-content: stretch;
    gap: 1em 2em;
}

section{
    flex-grow: 1;
    flex-basis: 40%;
}  


