/*****************
    Pablo Argallero - UO283216
    
    Este documento incluye todo lo relativo a los layouts del sitio web.
    La estructura de este documento es la siguiente:
        -LAYOUT DE LA SECCION PRINCIPAL DE LA PÁGINA - organizacion de las secciones dentro de pantalla
        -LAYOUT PARA LOS ELEMENTOS DE DENTRO DE LAS SECCIONES - organizacion de los elementos de dentro de las secciones
******************/


/*-------------------------------------------------------------------------*/
/*---------------LAYOUT DE LA SECCIÓN PRINCIPAL DE LA PÁGINA---------------*/
/*-------------------------------------------------------------------------*/

main{ /*especidad = 001*/
    display: flex;
    flex-flow: row wrap;/*indicamos la posibilidad de que los elementos ocupen mas de una linea organizandose el filas*/
    justify-content: space-evenly;/*dejamos espacio entre los elementos*/
    align-items: stretch;
    align-content: stretch;
    gap: 1em 2em;
}

section{ /*especidad = 001*/
    flex-grow: 1;
    flex-basis: 48%;
}  

/*----------------------------------------------------------------------------------*/
/*---------------LAYOUT PARA LOS ELEMENTOS DE DENTRO DE LAS SECCIONES---------------*/
/*----------------------------------------------------------------------------------*/

 main>section{ /*especificidad = 012*/
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: stretch;
    align-content: stretch;
}

/*hacemos que los elemntos multimedia y las tablas se alineen al centro de su seccion*/
main img , main audio, main video{ /*especidad = 002*/
    align-self: center;
} 

/* main>section{ /*especificidad = 012
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
      "h1 h1 h1"
      "h2 h2 h2"
      "pic amigos amigos"
      "pdata "
      "";
    place-items: stretch;
}

/*hacemos que los elemntos multimedia y las tablas se alineen al centro de su seccion
main img , main audio, main video{ /*especidad = 002
    align-self: center;
} */

