/*****************
    Pablo Argallero - UO283216
    
    //TODO Descipción de los estilos que contiene
******************/

/*Aplicamos a body el estilo*/
body /*especifidad =  1*/
{
    color: black;
    background-color: rgb(255, 255, 255);
    font-family: Arial, Helvetica, sans-serif;

    margin: 1em 3em ;
}

h1, footer /*especifidad =  2*/
{
    color: white;
    background-color: #bc0013;

    
    border-radius: 1em;
    padding: 1em;
    
    text-align: center;
}

h2 /*especifidad =  1*/
{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: #e2939b;

    padding: 0.5em;
    border-radius: 0.2em;
}
h3{
    background-color: #ffcbd1;
    

    padding: 0.2em;
    border-radius: 0.2em;

    text-align: center;

}

p /*especificidad = 1*/
{
    /*añadimos el padding para separar los parrafos de los laterales de
    siendo la primera la distancia top&bottom y la segunda la distancia hacia los lados*/
    padding: 0em 1em;
}

nav /*especifidad =  1*/
{
    /*hereda de body el color de letra negro*/
    background-color: rgb(255, 184, 184);
    
    
    border-radius: 0.2em;
    padding: 0.5em;
    text-align: center; 

}

/*Queremos que los elementos a del nav, es decir los elementos de navegación 
séan de color negro*/
nav a{ /*especificidada = 002*/
    color: #59050e;
}

/*Los enlaces del documento tendrán un color rojizo*/
a { /*especificidad = 001*/
    color: #db4554;
}

a:visited{ /*especificidad 011 //TODO revisar*/
    color: #bc0013;
}

section /*especifidad =  1*/
{
    /*hereda de body el color de letra negro*/
    background-color: rgb(209, 209, 209);
    
    border-radius: 0.2em;
    
}

ul li/*especificidad = 2*/
{
    color: rgb(233, 49, 49);
}

/*ultimo elemento de las listas anidadas en color verde*/
ul ul li:last-child /*especificidad = 13 */
{
    color: green;
}

table /*especificidad = 1*/
{
    background-color: #e2939b;
}

table caption /*especificidad = 2*/
{
    font-size: 1.2em;
    background-color: #b82578;

}

table th/*especificidad = 2*/
{
    background-color: #aa3c47;
    padding: 0.2em;
}

table td/*especificidad = 2*/
{
    padding: 0.2em;
}

/*Hace que los titulos dentro del formulario de las secciones salgan en rojo*/
form fieldset legend /*especidad = 3*/
{
    color: red;
}

