/*****************
    Pablo Argallero - UO283216
    
    //TODO Descipción de los estilos que contiene
******************/

/*Aplicamos a body el estilo*/
body /*especifidad =  1*/
{
    color: black;
    background-color: rgb(255, 255, 255);
    font-family: Arial, Helvetica, sans-serif;

    margin: 1em 3em ; /*margen de 1em hacia arriba y abajo y de 3em para los lados*/
}

h1, footer /*especifidad =  2*/
{
    color: white;
    background-color: #bc0013;   
    border-radius: 1em;
    
    text-align: center;
}

/*hacemos que el margen del footer crezca para que se vea separado*/
footer{ /*especificidad = 001*/
    margin-top: 1em;
}

h1{ /*especificidad = 001*/
    /*hereda la mayoría de sus atributos del selector de arriba*/
    padding: 1em;
    border: outset;
    border-color: #bc0013;
    border-width: thick;
    border-width: thick;
}

h2 /*especifidad =  1*/
{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: #e2939b;

    padding: 0.5em;
    border-radius: 0.2em;
}
h3{ /*especifidad =  1*/
    background-color: #ffcbd1;

    padding: 0.2em;
    border-radius: 0.2em;

    text-align: center;

}

p{ /*especificidad = 1*/
    /*añadimos el padding para separar los parrafos de los laterales de
    siendo la primera la distancia top&bottom y la segunda la distancia hacia los lados*/
    padding: 0.2em 1em;
}

nav /*especifidad =  1*/
{
    /*hereda de body el color de letra negro*/
    background-color: rgb(255, 184, 184); 
    
   
    padding: 0.5em;
    margin-bottom: 0.5em; /*separamos el nav del contenido de la página*/
    text-align: center; 

  
    border-radius: 0.2em;

}

/*Queremos que los elementos a del nav, es decir los elementos de navegación 
séan de color negro*/
nav a{ /*especificidada = 002*/
    color: #59050e;
}

/*Los enlaces del documento tendrán un color rojizo*/
a { /*especificidad = 001*/
    color: #db4554;
}

a:visited{ /*especificidad 011 //TODO revisar*/
    color: #bc0013;
}

section /*especifidad =  1*/
{
    /*hereda de body el color de letra negro*/
    background-color: rgb(209, 209, 209);
    
    border-radius: 0.2em;
    
}

/*las listas siguen la paleta de colores*/
ul li/*especificidad = 2*/
{
    color: #bc0013; /* //TODO cambiar */
} 

/*listas anidadas de un color más claro que la lista normal*/
ul ul li /*especificidad = 003 */
{
    color: #bc0013; /* //TODO cambiar */
}

table /*especificidad = 1*/
{
    background-color: #e2939b;
    margin: 1em; /*hacemos que la tabla se separe de los laterales*/
}

table caption /*especificidad = 2*/
{
    font-size: 1.2em;
    background-color: #b82578;

}

table th/*especificidad = 2*/
{
    background-color: #aa3c47;
    padding: 0.2em;
}

table td/*especificidad = 2*/
{
    padding: 0.2em;
}

/*Hace que los titulos dentro del formulario de las secciones salgan en rojo*/
form fieldset legend /*especidad = 3*/
{
    color: red;
}


